/* Reset some default browser styles */
html, body, h1, h2, p, ul, li {
    margin: 0;
    padding: 0;
}

/* Apply a basic page background color and font style */
body {
    font-family: monospace
    background-color #ffff;
    color: #000000;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-image: url(LucidBg.png);
    background-size: cover;
    background-position: center;
    
}

/* Style the header */
header {
    background-color: #e6c1ba;
    color: #000000;
    text-align: center;
    padding: 2em 2em;
    font-size: x-large;
   font-weight: bolder;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    

}

/* Style the navigation menu */
nav ul {
    list-style: none;
    text-align: center;
    background-color: #ffdfd5;
    padding: 1em 1em;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

nav li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #464646;
    font-weight: bold;
}

/* Style the main content */
main {
    max-width: 800px;
    margin: auto;
    padding: 20px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: large;
}

/* Style section headings */
section h2 {
    font-size: 20px;
    margin-bottom: 10px;
    color: #000000;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: larger;
}

/* Style images within sections */
section img {
    max-width: 100%;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 40px;
    margin-bottom: 100px;
    
}

/* Style the footer */
footer {
    text-align: center;
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

/* Add responsive styles */
@media (max-width: 600px) {
    main {
        padding: 10px;
    }
}
